html {
    font-size: 200%;
    line-height: 1.3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
  }
body{ 
    display: flex;
    width: auto;
    height: auto;
    background: rgb(202, 225, 240);
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
div.calculator_body{
    background-color: white;
    border-radius: 0.2em;
    margin-left: 1em;
    margin-right: auto;
    margin-top: 2em;
    max-width: 25em;
    overflow: hidden;
}
div.display{
    font-size: 2em;
    padding: 0.5em 0.5em;
    color: rgb(0, 0, 0);
    text-align: right;
    border: #346297;
}
div.keys{
    display: inline-grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
.keys > *{
    border: cornflowerblue;
    border-radius: 5px;
    margin: 1px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    top: 1px;
    padding: 0.6em 1.5em;
    position: relative;
    text-align: center;
    background-color: #346297;
}
button.numeric-key{
    background-color: darkgray !important;
}
button.plus{
    font-weight: 900;
    grid-column: 4;
    grid-row: 3 / span 3;
}